In [2]:
print("hello world")

hello world

In [3]:

print("not happy world")


print("This string has escape character\nHello there")
print("Tabbed1\t2\t")
print("The pet shop \"No no, 'e's uh\"")

not happy world
This string has escape character
Hello there
Tabbed1	2
The pet shop "No no, 'e's uh

In [4]:
print('The pet shop "No \'e\'s resting".')

The pet shop "No 'e's resting".

In [1]:
print("Hello \
hello")
age ="2"
print(type(age))

Hello hello
<class 'str'>

In [1]:
computer_parts = ['computer', 'monitor', 'mouse']

In [2]:
for items in computer_parts:
    print(items)

computer
monitor
mouse

In [4]:
print(computer_parts[0:2])
print(computer_parts[-1])

['computer', 'monitor']
mouse

In [4]:
result = True
another_result = result
print(id(result))
print(id(another_result))

result = False
print(id(result))

4390358416
4390358416
4390358448

In [5]:
list = ['a', 'b','c']
alist = list
print(id(list))
print(id(alist))

list += 'd'
print(id(list))
print(id(alist))

4460870976
4460870976
4460870976
4460870976

In [6]:
s = [1,2,3,4]
n = 3
print(s*n)
s *= n
print(s)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
parts = ['mouse', 'keyboard', 'monitor', 'cpu', 'dvd', ]
for index, item in enumerate(parts):
    print(index+1, item)

1 mouse
2 keyboard
3 monitor
4 cpu
5 dvd

In [10]:
list = [1, 9, 3, 2, 8, 2]
another_list = list
list.sort()
print(list)
print(another_list)

[1, 2, 2, 3, 8, 9]
[1, 2, 2, 3, 8, 9]

In [11]:
list = [1, 9, 3, 2, 8, 2]
another_list = sorted(list)
print(list)
print(another_list)

[1, 9, 3, 2, 8, 2]
[1, 2, 2, 3, 8, 9]

In [1]:
odd = [1,3,5,7,9]
even = [2,4,6,8]

numbers = odd+even

In [2]:
print(numbers)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [4]:
a_num = numbers
b_num = numbers.copy()

print(id(numbers))
print(id(a_num))
print(id(b_num))

print(a_num is numbers)
print(b_num is numbers)

print(numbers == a_num)
print(numbers == b_num)

4405745408
4405745408
4405593280
True
False
True
True

In [15]:
items = ['cream', 'powder', 'lotion', 'gel', 'shower']
print(items[0:5:2])
items[0:5:2] = ['shampoo', 'conditioner', 'paste']

print(items)

['cream', 'lotion', 'shower']
['shampoo', 'powder', 'conditioner', 'gel', 'paste']

In [18]:
data = [201, 14,15, 154, 32, 105, 178, 202,320]

for index, item in enumerate(data):
    if item < 100 or item > 200:
        del data[index]
        index -= 1
print(data)

[14, 154, 105, 178, 320]

In [3]:
names = ['allen', 'john', 'marcy', 'darlene']
print(", ".join(item for item in names if item != 'allen'))

john, marcy, darlene

In [5]:
print(type(", ".join(names)))

<class 'str'>

In [4]:
str = "how are you??"
words = str.split()

In [10]:
set = {'2',1,'1',6,1,3,49}
print(set)

{1, 49, 3, 6, '2', '1'}

In [12]:
dict = {1:1}
print(dict)

{1: 1}

In [13]:
python3 --version

NameError: name 'python3' is not defined

In [4]:
tuple1 = (11,22,33,44,0)
tuple2 = sorted(tuple1)
print(tuple2)
print(tuple1)

[0, 11, 22, 33, 44]
(11, 22, 33, 44, 0)

In [6]:
tuple2

[0, 11, 22, 33, 44]

In [8]:
tuple1

(11, 22, 33, 44, 0)

In [11]:
isinstance(tuple2, tuple)

False

In [16]:
isinstance(tuple2, list)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [13]:
type([])

list

In [18]:
dic = {1:"hell", 2:"no",3:"say"}

In [19]:
isinstance(dic, dict)

True

In [20]:
dic[1]

'hell'

In [21]:
import math

print(math.pi)

3.141592653589793

In [22]:
print(math.cos(math.pi/2))

6.123233995736766e-17

In [24]:
print(math.exp(2))

7.38905609893065

In [25]:
print(math.log)

<built-in function log>